body {
    background-color: #cccccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    padding: 0 2.5%;
    background-color: #166c81;
    height: 80px;                  
    width: 95%; 
    border-radius: 15px;
    background-color: rgba(129, 129, 129, 20%);
}

.nav-links {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(270deg, #0a0a0a, #505050, #979797, #505050, #979797, #505050, #0a0a0a);
    background-size: 1200% 1200%;
    animation: moveGradient 40s ease infinite;
}

@keyframes moveGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.div1, .div4{
    grid-column: 1 / 3;
}

.div1 , .div2, .div3, .div4 {

    backdrop-filter: blur(10%);
    background: rgba(255, 255, 255, 0.3);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.div1 {
    margin-top: 10%;
}