html {
    scroll-behavior: smooth;
}

/*HEADER*/

header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;      
    top: 0;
    left: 0;
    z-index: 1000;   
    background: transparent;
}


.header {
    width: 95%;
    height: 80px;
    padding: 0 2.5%;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(187, 187, 187, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/*LOGO*/

.logo {
    height: 120px;
    width: auto;
    object-fit: contain;
    margin-top: 10px;
}

/*NAVIGATION*/

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #091630;
    transform: scale(1.15);
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr,);
    gap: 20px;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(270deg, #0a0a0a, #505050, #979797, #505050, #979797, #505050, #0a0a0a);
    background-size: 1200% 1200%;
    animation: moveGradient 40s ease infinite;
    margin: 100px 0 0 0;
    padding-bottom: 70px;
    width : 100%
}

@keyframes moveGradient {
    10% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 10%;
    margin-top: 50px;
}

/*PRÉSENTATION*/
.div1 {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*COMPÉTENCES*/
.div2 {
    grid-column: 1 / 2;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*SOFT SKILLS*/
.div3 {
    grid-column: 2 / 3;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #e6e6e666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*PROJETS*/
.div4 {
    grid-column: 1 / 3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #e6e6e666;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*CONTACT*/
.div5 {
    grid-column: 1 / 3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.div5 h2 {
    text-align: center;
}

/* === Mise en forme des titres et paragraphes === */

h2 {
    color: #333333;
    font-size: 40px;
    margin-top: 20px;
    padding-left: 20px;
}

h3 {
    color: #444444;
    font-size: 25px;
    margin-top: 15px;
    padding-left: 40px;
}

ul {
    color: #181818;
    font-size: 20px;
    line-height: 1.7;
    padding-left: 80px;
}
p {
    color: #181818;
    font-size: 20px;
    line-height: 1.7;
    padding-left: 50px;
}

.div2 ul {
    list-style: none;
    padding-left: 80px;
    display: flex;
    position: center;
    flex-wrap: wrap;

}

.div2 li {
    display: inline-block;
    background: #bebebe;
    padding: 10px 18px;
    margin: 8px;
    border-radius: 12px;
    font-size: 1.1em;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
    cursor: pointer;
    
}

.div2 li:hover {
    background: #091630;
    color: white;
    transform: scale(1.15);
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

.social-container {
    gap: 12px;   
    display: flex;
    justify-content: center;              
}

.social-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f0f0f0;
    padding: 12px 18px;
    border-radius: 14px;
    font-size: 1.2em;
    font-weight: 600;
    width: fit-content;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}

/* LinkedIn */
.social-box.linkedin:hover {
    background: #0A66C2;
    color: white;
}

/* GitHub */
.social-box.github:hover {
    background: #24292F;
    color: white;
}

/* Instagram */
.social-box.instagram:hover {
    background: #E1306C;
    color: white;
}
/* Root-Me */
.social-box img.rootme-icon {
    width: 24px;       
    height: 24px;      
    object-fit: contain;
}

.social-box.rootme:hover {
    background: #350303;
    color: white;
}

/* Email */
.social-box.email:hover {
    background: #ac2114;
    color: white;
}
.social-box i {
    font-size: 1.4em;
}

/* Phone */
.social-box.phone:hover {
    background: #10351a;
    color: white;
}

footer {
    text-align: center;
    padding: 15px 0;
    background: rgba(187, 187, 187, 0.2);
    backdrop-filter: blur(20px);
    color: #000000;
    font-size: 1rem;
    position: relative;
    width: 205%;
    margin-top: auto;
}
